Repository Edgenesis/shifu: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: GoTool@0
    inputs:
      version: 1.17.11
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - task: KubectlInstaller@0
    inputs:
      kubectlVersion: latest
  - task: Go@0
  ...

azure-pipelines/azure-pipelines-upload-files.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - script: 'docker buildx build --platform=linux/amd64,linux/arm64,linux/arm \
  
  ...

azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: macos_demo_build_smoke
    displayName: macOS Demo Build Smoke Test
    jobs:
    - job: build_macos_demo
      displayName: Build macOS Demo on Linux
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: GoTool@0
        inputs:
  ...

azure-pipelines/docker-push.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - task: Docker@2
    displayName: Login to DockerHub
    inputs:
      command: login
      containerRegistry: dockerhub-connection
  ...

chore: add changelog for v0.93.0 (#1419)
  CHANGELOG/CHANGELOG-v0.93.0.md
Due: none

fix: harden biweekly release merge automation
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: harden biweekly release merge automation (#1421)
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: don't fail release when bot approval doesn't satisfy review gate
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: remove kris21he from CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: don't fail release when bot approval doesn't satisfy review gate (#1428)
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: remove kris21he from CODEOWNERS (#1429)
  .github/CODEOWNERS
Due: none

chore: add changelog for v0.94.0
  CHANGELOG/CHANGELOG-v0.94.0.md
Due: none

chore: add changelog for v0.94.0 (#1430)
  CHANGELOG/CHANGELOG-v0.94.0.md
Due: none

fix: use admin merge when direct merge is blocked by branch policy
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: use admin merge when direct merge is blocked by branch policy (#1434)
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: add changelog for v0.95.0
  CHANGELOG/CHANGELOG-v0.95.0.md
Due: none

chore: add changelog for v0.95.0 (#1439)
  CHANGELOG/CHANGELOG-v0.95.0.md
Due: none

docs: align v0.95.0 changelog with release template
  CHANGELOG/CHANGELOG-v0.95.0.md
Due: none

docs: align v0.95.0 changelog with release generator prompt
  CHANGELOG/CHANGELOG-v0.95.0.md
Due: none

docs(claude): note Edgenesis monorepo orientation for internal agents
  CLAUDE.md
Due: azure-pipelines/azure-pipelines.yml

chore: add changelog for v0.96.0
  CHANGELOG/CHANGELOG-v0.96.0.md
Due: none

chore: add changelog for v0.96.0 (#1449)
  CHANGELOG/CHANGELOG-v0.96.0.md
Due: none

fix: align Kubernetes 0.36 dependencies
  go.mod
  go.sum
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: update x/net vulnerability
  go.mod
  go.sum
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: add changelog for v0.97.0 (#1458)
  CHANGELOG/CHANGELOG-v0.97.0.md
Due: none

chore: add changelog for v0.98.0 (#1468)
  CHANGELOG/CHANGELOG-v0.98.0.md
Due: none

chore: add changelog for v0.99.0 (#1478)
  CHANGELOG/CHANGELOG-v0.99.0.md
Due: none

fix: make release tag workflows idempotent (#1480)
  .github/workflows/release-official-tag.yml
  .github/workflows/release-rc-tag.yml
Due: none

fix(deviceshifuhttp): forward upstream status code in GET/POST handler
  pkg/deviceshifu/deviceshifuhttp/deviceshifuhttp.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: add changelog for v0.100.0 (#1492)
  CHANGELOG/CHANGELOG-v0.100.0.md
Due: none

fix: remove dead shifurun demo publish
  azure-pipelines/azure-pipelines.yml
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: remove dead shifurun demo publish (#1494)
  azure-pipelines/azure-pipelines.yml
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix(deviceshifuhttp): forward upstream status code in GET/POST handler (#1491)
  pkg/deviceshifu/deviceshifuhttp/deviceshifuhttp.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: add changelog for v0.101.0 (#1501)
  CHANGELOG/CHANGELOG-v0.101.0.md
Due: none

Path conditions:
  azure-pipelines.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines-upload-files.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines.yml: any file but: docs, examples, img, README*, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/docker-push.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
