Repository Edgenesis/shifu: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Path conditions:
  azure-pipelines.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines-upload-files.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines.yml: any file but: docs, examples, img, README*, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/docker-push.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG

added shifu mcp PRD
  shifu_mcp_prd.md
Due: azure-pipelines/azure-pipelines.yml

move to mcp folder
  mcp/shifu_mcp_prd.md
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

delete
  shifu_mcp_prd.md
Due: azure-pipelines/azure-pipelines.yml

fix: harden mockdevice startup in tests
  pkg/deviceshifu/mockdevice/mockdevice-agv/mockdevice-agv_test.go
  pkg/deviceshifu/mockdevice/mockdevice-plate-reader/mockdevice-plate-reader_test.go
  pkg/deviceshifu/mockdevice/mockdevice-plc/mockdevice-plc_test.go
  pkg/deviceshifu/mockdevice/mockdevice-robot-arm/mockdevice-robot-arm_test.go
  pkg/deviceshifu/mockdevice/mockdevice-thermometer/mockdevice-thermometer_test.go
  pkg/deviceshifu/mockdevice/mockdevice/mockdevice.go
  pkg/deviceshifu/mockdevice/mockdevice/mockdevice_test.go
  pkg/deviceshifu/mockdevice/testutil/testutil.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

test: wait for mockdevice readiness
  pkg/deviceshifu/mockdevice/mockdevice/mockdevice_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

docs: add runtime contract and Shifu SDK guidance to DeviceShifu dev guide
  docs/development/develop-deviceshifu.md
Due: none

docs: add runtime contract and Shifu SDK guidance to DeviceShifu dev guide (#1406)
  docs/development/develop-deviceshifu.md
Due: none

chore: add changelog for v0.92.0
  CHANGELOG/CHANGELOG-v0.92.0.md
Due: none

PRD modifications after comment
  mcp/shifu_mcp_prd.md
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

change to add support for other outbound protocols
  mcp/shifu_mcp_prd.md
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

adress comments, add CLAUDE.md
  CLAUDE.md
  docs/spec/shifu_mcp_spec.md
  mcp/shifu_mcp_prd.md
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

addressed new comments
  docs/spec/shifu_mcp_spec.md
Due: none

change to not use sse but streamable http
  docs/spec/shifu_mcp_spec.md
Due: none

move coninfo to edgedevice
  docs/spec/shifu_mcp_spec.md
Due: none

clean go version
  CLAUDE.md
Due: azure-pipelines/azure-pipelines.yml

Update spec: use EdgeDevice CRD + instructions key, remove hardcoded Go version
  docs/spec/shifu_mcp_spec.md
Due: none

Feat/shifu mcp (#1403)
  CLAUDE.md
  docs/spec/shifu_mcp_spec.md
Due: azure-pipelines/azure-pipelines.yml

feat: add MCP server for AI agent device discovery
  cmd/shifu-mcp-server/main.go
  dockerfiles/Dockerfile.mcpServer
  examples/mcp-demo/configmap-robot-arm.yaml
  examples/mcp-demo/configmap-sensor-array.yaml
  examples/mcp-demo/configmap-thermometer.yaml
  examples/mcp-demo/deployment-robot-arm.yaml
  examples/mcp-demo/deployment-sensor-array.yaml
  examples/mcp-demo/deployment-thermometer.yaml
  examples/mcp-demo/edgedevice-robot-arm.yaml
  examples/mcp-demo/edgedevice-sensor-array.yaml
  examples/mcp-demo/edgedevice-thermometer.yaml
  go.mod
  go.sum
  pkg/deviceapi/api.go
  pkg/deviceapi/api_test.go
  pkg/deviceapi/configmap.go
  pkg/deviceapi/resolver.go
  pkg/deviceapi/resolver_test.go
  pkg/deviceapi/types.go
  pkg/deviceshifu/deviceshifubase/deviceshifubase_config.go
  pkg/k8s/api/v1alpha1/edgedevice_types.go
  pkg/k8s/api/v1alpha1/zz_generated.deepcopy.go
  pkg/k8s/crd/config/edgedevice/bases/shifu.edgenesis.io_edgedevices.yaml
  pkg/mcp/server/e2e_spec_test.go
  pkg/mcp/server/e2e_test.go
  pkg/mcp/server/server.go
  pkg/mcp/server/server_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

feat: add shifu_mcp_install.yml for one-command MCP server deployment
  pkg/k8s/crd/install/shifu_mcp_install.yml
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: remove unused boolPtr helper in api_test.go
  pkg/deviceapi/api_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

style: run gofmt on MCP package files
  pkg/deviceapi/api_test.go
  pkg/deviceapi/resolver.go
  pkg/mcp/server/e2e_spec_test.go
  pkg/mcp/server/server_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Revert "style: run gofmt on MCP package files"
  pkg/deviceapi/api_test.go
  pkg/deviceapi/resolver.go
  pkg/mcp/server/e2e_spec_test.go
  pkg/mcp/server/server_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

feat: automate biweekly release workflow
  .github/workflows/release-biweekly-monday.yml
  .github/workflows/release-biweekly-wednesday.yml
  .github/workflows/release-official-tag.yml
  .github/workflows/release-official.yml
  .github/workflows/release.yml
  docs/release/release-guide.md
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix: harden release orchestration failure handling
  .github/workflows/release-biweekly-wednesday.yml
  .github/workflows/release-official-tag.yml
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

refactor: use utc for release cadence
  .github/workflows/release-biweekly-monday.yml
  .github/workflows/release-biweekly-wednesday.yml
  docs/release/release-guide.md
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

refactor: reuse release bot for shifu.dev dispatch
  .github/workflows/release-official-tag.yml
  docs/release/release-guide.md
Due: none

refactor: simplify release workflow maintenance
  .github/workflows/release-biweekly-monday.yml
  .github/workflows/release-biweekly-wednesday.yml
  .github/workflows/release-cadence-gate.yml
  .github/workflows/release-official-tag.yml
  .github/workflows/release-official.yml
  .github/workflows/release-rc-tag.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

feat: automate biweekly release workflow (#1413)
  .github/workflows/release-biweekly-monday.yml
  .github/workflows/release-biweekly-wednesday.yml
  .github/workflows/release-cadence-gate.yml
  .github/workflows/release-official-tag.yml
  .github/workflows/release-official.yml
  .github/workflows/release-rc-tag.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  docs/release/release-guide.md
  tools/release/automation.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

feat: add description and metadata fields to EdgeDevice CRD and DeviceShifu instructions
  examples/deviceshifu/demo_device/edgedevice-agv/agv-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-edgedevice.yaml
  examples/mcp-demo/configmap-robot-arm.yaml
  examples/mcp-demo/configmap-sensor-array.yaml
  examples/mcp-demo/configmap-thermometer.yaml
  examples/mcp-demo/edgedevice-robot-arm.yaml
  examples/mcp-demo/edgedevice-sensor-array.yaml
  examples/mcp-demo/edgedevice-thermometer.yaml
  pkg/deviceshifu/deviceshifubase/deviceshifubase_config.go
  pkg/k8s/api/v1alpha1/edgedevice_types.go
  pkg/k8s/api/v1alpha1/zz_generated.deepcopy.go
  pkg/k8s/crd/config/edgedevice/bases/shifu.edgenesis.io_edgedevices.yaml
  pkg/k8s/crd/install/config_crd.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

test: add deepcopy tests for new EdgeDeviceSpec fields
  pkg/k8s/api/v1alpha1/edgedevice_types_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

feat: add MCP server for AI agent device discovery
  cmd/shifu-mcp-server/main.go
  dockerfiles/Dockerfile.mcpServer
  examples/mcp-demo/deployment-robot-arm.yaml
  examples/mcp-demo/deployment-sensor-array.yaml
  examples/mcp-demo/deployment-thermometer.yaml
  go.mod
  go.sum
  pkg/deviceapi/api.go
  pkg/deviceapi/api_test.go
  pkg/deviceapi/configmap.go
  pkg/deviceapi/resolver.go
  pkg/deviceapi/resolver_test.go
  pkg/deviceapi/types.go
  pkg/k8s/crd/install/shifu_mcp_install.yml
  pkg/mcp/server/e2e_spec_test.go
  pkg/mcp/server/e2e_test.go
  pkg/mcp/server/server.go
  pkg/mcp/server/server_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

refactor: move connectionInfo back to EdgeDevice CRD, simplify instruction fields
  examples/deviceshifu/demo_device/edgedevice-agv/agv-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_edgedevice.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-configmap.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-edgedevice.yaml
  examples/mcp-demo/configmap-robot-arm.yaml
  examples/mcp-demo/configmap-sensor-array.yaml
  examples/mcp-demo/configmap-thermometer.yaml
  examples/mcp-demo/edgedevice-robot-arm.yaml
  examples/mcp-demo/edgedevice-sensor-array.yaml
  examples/mcp-demo/edgedevice-thermometer.yaml
  pkg/deviceshifu/deviceshifubase/deviceshifubase_config.go
  pkg/k8s/api/v1alpha1/edgedevice_types.go
  pkg/k8s/api/v1alpha1/edgedevice_types_test.go
  pkg/k8s/api/v1alpha1/zz_generated.deepcopy.go
  pkg/k8s/crd/config/edgedevice/bases/shifu.edgenesis.io_edgedevices.yaml
  pkg/k8s/crd/install/config_crd.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

docs: sync MCP spec with PR #1417 review changes
  docs/spec/shifu_mcp_spec.md
Due: none

fix: align MCP server with PR #1417 review changes
  pkg/deviceapi/api_test.go
  pkg/deviceapi/configmap.go
  pkg/deviceapi/resolver_test.go
  pkg/deviceapi/types.go
  pkg/mcp/server/e2e_spec_test.go
  pkg/mcp/server/server_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

chore: add changelog for v0.93.0
  CHANGELOG/CHANGELOG-v0.93.0.md
Due: none
