Repository Edgenesis/shifu: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: GoTool@0
    inputs:
      version: 1.17.11
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - task: KubectlInstaller@0
    inputs:
      kubectlVersion: latest
  - task: Go@0
  ...

azure-pipelines/azure-pipelines-upload-files.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - script: 'docker buildx build --platform=linux/amd64,linux/arm64,linux/arm \
  
  ...

azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: go_test_and_kind_e2e_test
    jobs:
    - job: go_build_and_test
      steps:
      - task: GoTool@0
        inputs:
          version: 1.19.1
      - task: Go@0
        displayName: go get
        inputs:
          command: get
          arguments: -d
  ...

azure-pipelines/docker-push.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 20.10.9
      releaseType: stable
  - task: Docker@2
    displayName: Login to DockerHub
    inputs:
      command: login
      containerRegistry: dockerhub-connection
  ...

Create CONTRIBUTING.md (#646)
  CONTRIBUTING.md
Due: azure-pipelines/azure-pipelines.yml

add return when read or write report a error
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add nil pointer check and add some logs
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add return and update some log
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add e2e test write
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_configmap.yaml
  examples/deviceshifu/mockdevice/opcua/checkout.sh
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_configmap.yaml
  examples/opcuaDeviceShifu/server/server.py
Due: none

<Feature>implement write in opcua protocol (#644)
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_configmap.yaml
  examples/deviceshifu/mockdevice/opcua/checkout.sh
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_configmap.yaml
  examples/opcuaDeviceShifu/server/server.py
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add changelog
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
Due: none

add changelog (#648)
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
Due: none

bump version to v0.22.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix wrong type when write to opcua server
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add empty line
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add test case for CreateValue function
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

make function CreateValue lowercase
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix pipeline with write int instead of string
  examples/deviceshifu/mockdevice/opcua/checkout.sh
Due: none

handle some comments
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

rename functio and add some comment in function and rename some var
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

<BUG Fix>fix wrong type when write to opcua server (#650)
  examples/deviceshifu/mockdevice/opcua/checkout.sh
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump tag to v0.22.0-rc2
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump tag to v0.22.0-rc2 (#651)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

update tag to v0.22.0, update changelog
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

update tag to v0.22.0, update changelog (#652)
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

rebase fixes from v0.22.0 release branch
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
  examples/deviceshifu/mockdevice/opcua/checkout.sh
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

rebase fixes from v0.22.0 release branch (#654)
  CHANGELOG/CHANGELOG-v0.22.0-zh.md
  CHANGELOG/CHANGELOG-v0.22.0.md
  examples/deviceshifu/mockdevice/opcua/checkout.sh
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add Changelog for v0.23.0
  CHANGELOG/CHANGELOG-v0.23.0-zh.md
  CHANGELOG/CHANGELOG-v0.23.0.md
Due: none

add Changelog for v0.23.0 (#655)
  CHANGELOG/CHANGELOG-v0.23.0-zh.md
  CHANGELOG/CHANGELOG-v0.23.0.md
Due: none

bump tag to v0.23.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Added questionaire doc for WOT
  docs/WOT_technical.md
Due: none

Added questionaire doc for WOT (#660)
  docs/WOT_technical.md
Due: none

bump tag to v0.23.0 for release
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump tag to v0.23.0 for release (#661)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add changelog for v0.24.0 release
  CHANGELOG/CHANGELOG-v0.24.0-zh.md
  CHANGELOG/CHANGELOG-v0.24.0.md
Due: none

add changelog for v0.24.0 release (#663)
  CHANGELOG/CHANGELOG-v0.24.0-zh.md
  CHANGELOG/CHANGELOG-v0.24.0.md
Due: none

bump tag to v0.24.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Added design for telemetry service sql
  docs/design/shifu-framework/telemetry-service-SQLServer.md
Due: none

Added mysql to design
  docs/design/shifu-framework/telemetry-service-SQLServer_MySQL.md
Due: none

Added describption for deviceId
  docs/design/shifu-framework/telemetry-service-SQLServer.md
  docs/design/shifu-framework/telemetry-service-SQLServer_MySQL.md
Due: none

bump tag to v0.24.0
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump tag to v0.24.0 (#670)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

implement mysql and mssql design
  go.mod
  go.sum
  pkg/k8s/api/v1alpha1/telemetryservice_types.go
  pkg/telemetryservice/sql/mysql/mysql.go
  pkg/telemetryservice/sql/mysql/mysql_test.go
  pkg/telemetryservice/sql/sqlserver/sqlserver.go
  pkg/telemetryservice/sql/sqlserver/sqlserver_test.go
  pkg/telemetryservice/sql/telemetryservicesql.go
  pkg/telemetryservice/sql/telemetryservicesql_test.go
  pkg/telemetryservice/sql/template/template.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix ineffectual assignment to err
  pkg/telemetryservice/sql/mysql/mysql.go
  pkg/telemetryservice/sql/sqlserver/sqlserver.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Path conditions:
  azure-pipelines.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines-upload-files.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines.yml: any file but: docs, examples, img, README*, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/docker-push.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
