Repository Edgenesis/shifu: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Path conditions:
  azure-pipelines.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines-upload-files.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/azure-pipelines.yml: any file but: docs, examples, img, README*, LICENSE, .devcontainer, .github, CHANGELOG
  azure-pipelines/docker-push.yml: any file but: docs, examples, img, *.md, LICENSE, .devcontainer, .github, CHANGELOG

bump sigs.k8s.io/controller-runtime to v0.15.0 (#608)
  go.mod
  go.sum
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump kind to v0.19.0, Kubernetes to v1.27.1 in demo
  test/scripts/deviceshifu-demo-aio.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump kind to v0.19.0, Kubernetes to v1.27.1 in demo (#610)
  test/scripts/deviceshifu-demo-aio.sh
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add changelog for v0.19.0
  CHANGELOG/CHANGELOG-v0.19.0-zh.md
  CHANGELOG/CHANGELOG-v0.19.0.md
Due: none

add changelog for v0.19.0 (#615)
  CHANGELOG/CHANGELOG-v0.19.0-zh.md
  CHANGELOG/CHANGELOG-v0.19.0.md
Due: none

bump tag to v0.19.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump tag to v0.19.0-rc1 (#616)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

change tag for release v0.19.0
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

change tag for release v0.19.0 (#619)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Update README.md
  README.md
Due: none

Update README.md (#621)
  README.md
Due: none

add fsm example traffic light
  go.mod
  go.sum
  pkg/fsm/examples/traffic-light-device/Dockerfile
  pkg/fsm/examples/traffic-light-device/README-zh.md
  pkg/fsm/examples/traffic-light-device/README.md
  pkg/fsm/examples/traffic-light-device/configuration/deviceshifu-trafficlight-configmap.yaml
  pkg/fsm/examples/traffic-light-device/configuration/deviceshifu-trafficlight-deployment.yaml
  pkg/fsm/examples/traffic-light-device/configuration/deviceshifu-trafficlight-service.yaml
  pkg/fsm/examples/traffic-light-device/configuration/trafficlight-deployment.yaml
  pkg/fsm/examples/traffic-light-device/configuration/trafficlight-edgedevice.yaml
  pkg/fsm/examples/traffic-light-device/configuration/trafficlight-service.yaml
  pkg/fsm/examples/traffic-light-device/trafficlight.go
  pkg/fsm/examples/traffic-light-device/trafficlight_test.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

add changelog for v0.20.0
  CHANGELOG/CHANGELOG-v0.20.0-zh.md
  CHANGELOG/CHANGELOG-v0.20.0.md
Due: none

add changelog for v0.20.0 (#626)
  CHANGELOG/CHANGELOG-v0.20.0-zh.md
  CHANGELOG/CHANGELOG-v0.20.0.md
Due: none

tag version to v0.20.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump Shifu to v0.20.0
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump Shifu to v0.20.0 (#630)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Added design for FSM
  docs/design/design-shifuFSM.md
Due: none

Changed code type
  docs/design/design-shifuFSM.md
Due: none

Addressed comments
  docs/design/design-shifuFSM.md
Due: none

Adderessed feedback
  docs/design/design-shifuFSM.md
Due: none

Changed control flow
  docs/design/design-shifuFSM.md
Due: none

add v0.21.0 changelog
  CHANGELOG/CHANGELOG-v0.21.0-zh.md
  CHANGELOG/CHANGELOG-v0.21.0.md
Due: none

add v0.21.0 changelog (#635)
  CHANGELOG/CHANGELOG-v0.21.0-zh.md
  CHANGELOG/CHANGELOG-v0.21.0.md
Due: none

bump tag to v0.21.0-rc1
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Added design for FSM (#633)
  docs/design/design-shifuFSM.md
Due: none

bump Shifu to v0.21.0
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

bump Shifu to v0.21.0 (#641)
  examples/deviceshifu/customized/humidity_detector/configuration/deviceshifu-humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/humidity-detector-deployment.yaml
  examples/deviceshifu/customized/humidity_detector/configuration/mockserver-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-agv/deviceshifu-agv-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-mqtt/mqtt_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/mock-device/opcua-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-opcua/opcua_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/deviceshifu-plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plate-reader/plate-reader-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/deviceshifu-plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-plc/plc-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/deviceshifu-robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-robot-arm/robot-arm-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/mock-device/socket-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-socket/socket_deviceshifu_deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/deviceshifu-thermometer-deployment.yaml
  examples/deviceshifu/demo_device/edgedevice-thermometer/thermometer-deployment.yaml
  examples/deviceshifu/hello-world-device/configuration/deviceshifu-helloworld-deployment.yaml
  examples/driver_utils/simple-powershell-stub/deviceshifu-powershell-deployment.yaml
  examples/httpDeviceShifu/deployment/http-deviceshifu-deployment.yaml
  examples/minioTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/mqttDeviceShifu/mqtt_deploy/mqtt_deviceshifu_deployment.yaml
  examples/mqttTelemetryService/deployment/http-deviceshifu-deployment.yaml
  examples/opcuaDeviceShifu/opcua_deploy/opcua_deviceshifu_deployment.yaml
  examples/plc4xDeviceShifu/deployment/plc4x_deviceshifu_deployment.yaml
  examples/rtspDeviceShifu/camera-deployment/deviceshifu-camera-deployment.yaml
  examples/siemensPLCDeviceShifu/plc-deployment/plc-deviceshifu-deployment.yaml
  examples/socketDeviceShifu/socket_deviceshifu_deployment.yaml
  examples/tcpDeviceShifu/tcp_deviceshifu_deployment.yaml
  examples/tdengineTelemetryService/deployment/http-deviceshifu-deployment.yaml
  pkg/k8s/crd/config/manager/kustomization.yaml
  pkg/k8s/crd/install/config_default.yaml
  pkg/k8s/crd/install/shifu_install.yml
  pkg/telemetryservice/install/telemetryservice_install.yaml
  test/scripts/deviceshifu-demo-aio.sh
  version.txt
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix opcua create many client
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

remove all fatal to error and return it
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

implement write by opcua protocol
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix ci
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

fix opcua Client is nil
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: azure-pipelines/azure-pipelines.yml

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: azure-pipelines/azure-pipelines.yml

Create CODE_OF_CONDUCT.md (#645)
  CODE_OF_CONDUCT.md
Due: azure-pipelines/azure-pipelines.yml

handle some comments
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

remove Duplicate if
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml

<bug Fix>Fix the opcua protocol creating too many clients, resulting in excessive session usage (#643)
  pkg/deviceshifu/deviceshifuopcua/deviceshifuopcua.go
Due: azure-pipelines.yml, azure-pipelines/azure-pipelines-upload-files.yml, azure-pipelines/azure-pipelines.yml, azure-pipelines/docker-push.yml
